<template>
  <navbar />

  <div class="dashboard" style="margin-top: 80px">
    <div
      class="w-full max-w-sm bg-white border border-gray-200 mx-auto rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="space-y-4 md:space-y-6 flex flex-col items-center py-10">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl pb-4 dark:text-white"
        >
          User Profile
        </h1>
        <img
          class="w-24 h-24 mb-3 rounded-full shadow-lg"
          src="http://placehold.it/180"
          alt="Bonnie image"
        />

        <div v-if="showAlert" class="text-sm text-green-800">
          {{ msg }}
        </div>

        <div>
          <label
            for="username"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Your Name</label
          >
          <input
            type="text"
            v-model="user.name"
            name="username"
            id="username"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Brown Fox"
            required=""
          />
        </div>
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Your Email</label
          >
          <input
            type="email"
            v-model="user.email"
            name="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@company.com"
            required=""
          />
        </div>

        <div class="flex mt-4 space-x-3 md:mt-6">
          <a
            href="#"
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-gray-500 border border-gray-300 rounded-lg hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700"
          >
            <router-link to="/profile">Back</router-link>
          </a>
          <button
            @click="showUpdateConfirmation"
            type="submit"
            class="w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    :class="{ hidden: !isUpdateModalVisible }"
    class="fixed inset-0 flex items-center justify-center z-50"
  >
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
      <!-- Modal content -->
      <div
        class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
      >
        <svg
          class="text-gray-400 dark:text-gray-500 w-11 h-11 mb-3.5 mx-auto"
          xmlns="http://www.w3.org/2000/svg"
          height="2em"
          fill="currentColor"
          viewBox="0 0 512 512"
        >
          <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"
          />
        </svg>
        <p class="mb-4 text-gray-500 dark:text-gray-300">
          Are you sure you want to update your data?
        </p>
        <div class="flex justify-center items-center space-x-4">
          <button
            @click="cancelUpdate"
            type="button"
            class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
          >
            No, cancel
          </button>
          <button
            @click="updateUser"
            type="submit"
            class="py-2 px-3 text-sm font-medium text-center text-white bg-indigo-600 rounded-lg hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900"
          >
            Yes, I'm sure
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";

export default {
  data() {
    return {
      isUpdateModalVisible: false,
      //state loggedIn with localStorage
      loggedIn: localStorage.getItem("loggedIn"),
      //state token
      token: localStorage.getItem("token"),
      //state user logged In
      user: [],
      msg: "",
      showAlert: false,
    };
  },
  created() {
    axios
      .get("http://localhost:8000/api/user", {
        headers: { Authorization: "Bearer " + this.token },
      })
      .then((response) => {
        console.log(response);
        this.user = response.data; // assign response to state user
      })
      .catch((err) => {
        if (err.response.status == 403) {
          return router.push({ name: "ProfileVerified" });
        }
      });
  },

  methods: {
    showUpdateConfirmation() {
      this.isUpdateModalVisible = true;
    },
    cancelUpdate() {
      this.isUpdateModalVisible = false;
    },
    updateUser() {
      axios
        .put(
          "/api/user",
          {
            name: this.user.name,
            email: this.user.email,
          },
          {
            headers: { Authorization: "Bearer " + this.token },
          }
        )
        .then((res) => {
          this.isUpdateModalVisible = false;
          this.showAlert = true;
          this.msg = res.data.message;
          setTimeout(() => {
            router.push({ name: "Profile" });
          }, 2000);
        })
        .catch((err) => {
          this.isUpdateModalVisible = false;
          this.showAlert = true;
          this.msg = err.response.data.message;
        });
    },
  },

  mounted() {
    axios
      .get("http://localhost:8000/api/user", {
        headers: { Authorization: "Bearer " + this.token },
      })
      .then((response) => {
        console.log(response);
        this.user = response.data; // assign response to state user
      })
      .catch((err) => {
        console.log(err);
      });
    if (!this.loggedIn) {
      return this.$router.push({ name: "Login" });
    }
  },
};
</script>
