<template>
  <navbar />
  <section class="bg-gray-50 dark:bg-gray-900">
    <div
      class="flex flex-col items-center m-4 justify-center px-4 py-8 mx-auto md:h-screen lg:py-0"
    >
      <div
        class="text-center p-4 w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700"
      >
        <h1 class="py-4">
          Your accont not verifid yet, please clict button below
        </h1>
        <div v-if="showAlert" class="text-sm py-4 text-green-800">
          {{ msg }}
        </div>
        <button
          @click="requestEmail"
          type="submit"
          class="py-2 px-3 text-sm font-medium text-center text-white bg-indigo-600 rounded-lg hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900"
        >
          Request Email
        </button>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";
import router from "../../router";

export default {
  data() {
    return {
      loggedIn: localStorage.getItem("loggedIn"),
      token: localStorage.getItem("token"),
      msg: "",
      showAlert: false,
    };
  },
  methods: {
    requestEmail() {
      axios
        .get("http://localhost:8000/api/requesttoken", {
          headers: { Authorization: "Bearer " + this.token },
        })
        .then((res) => {
          this.showAlert = true;
          this.msg = res.data.message;
          setTimeout(() => {
            axios.get("http://localhost:8000/api/logout").then(() => {
              //remove localStorage
              localStorage.removeItem("loggedIn");

              //redirect
              router.push({ name: "Login" });
            });
          }, 3000);
        })
        .catch((err) => {
          this.showAlert = true;
          this.msg = err.response.data.message;
          setTimeout(() => {
            axios.get("http://localhost:8000/api/logout").then(() => {
              //remove localStorage
              localStorage.removeItem("loggedIn");

              //redirect
              router.push({ name: "Login" });
            });
          }, 3000);
        });
    },
  },
  mounted() {
    if (!this.loggedIn) {
      return this.$router.push({ name: "Login" });
    }
  },
};
</script>
