<template>
  <navbar />

  <div class="dashboard" style="margin-top: 80px">
    <div
      class="w-full max-w-sm bg-white border border-gray-200 mx-auto rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="flex flex-col items-center py-10">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl pb-4 dark:text-white"
        >
          User Profile
        </h1>

        <div v-if="showAlert" class="text-sm text-green-800">
          {{ msg }}
        </div>
        <img
          class="w-24 h-24 mb-3 rounded-full shadow-lg"
          src="http://placehold.it/180"
          alt="Bonnie image"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          {{ user.name }}
        </h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">{{
          user.email
        }}</span>
        <div class="flex mt-4 space-x-3 md:mt-6">
          <a
            href="#"
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            <router-link to="/profile/update">Update</router-link>
          </a>
          <button
            @click="showDeleteConfirmation"
            href="#"
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-red-700 border border-gray-300 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700"
          >
            Delete Account
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    :class="{ hidden: !isDeleteModalVisible }"
    class="fixed inset-0 flex items-center justify-center z-50"
  >
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
      <!-- Modal content -->
      <div
        class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
      >
        <svg
          class="text-gray-400 dark:text-gray-500 w-11 h-11 mb-3.5 mx-auto"
          xmlns="http://www.w3.org/2000/svg"
          height="2em"
          fill="currentColor"
          viewBox="0 0 512 512"
        >
          <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"
          />
        </svg>
        <p class="mb-4 text-gray-500 dark:text-gray-300">
          Are you sure you want to delete your account?
        </p>
        <div class="flex justify-center items-center space-x-4">
          <button
            @click="cancelDelete"
            type="button"
            class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
          >
            No, cancel
          </button>
          <button
            @click="deleteUser"
            type="submit"
            class="py-2 px-3 text-sm font-medium text-center text-white bg-red-800 rounded-lg hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900"
          >
            Yes, I'm sure
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../../router";

export default {
  data() {
    return {
      isDeleteModalVisible: false,

      //state loggedIn with localStorage
      loggedIn: localStorage.getItem("loggedIn"),
      //state token
      token: localStorage.getItem("token"),
      //state user logged In
      user: [],
      msg: "",
      showAlert: false,
    };
  },

  created() {
    axios
      .get("http://localhost:8000/api/user", {
        headers: { Authorization: "Bearer " + this.token },
      })
      .then((response) => {
        console.log(response);
        this.user = response.data; // assign response to state user
      })
      .catch((err) => {
        if (err.response.status == 403) {
          return router.push({ name: "ProfileVerified" });
        }
      });
  },

  methods: {
    showDeleteConfirmation() {
      this.isDeleteModalVisible = true;
    },
    cancelDelete() {
      this.isDeleteModalVisible = false;
    },

    deleteUser() {
      axios
        .delete("/api/user", {
          headers: { Authorization: "Bearer " + this.token },
        })
        .then((res) => {
          localStorage.removeItem("loggedIn");
          return router.push({ name: "Login" });
        })
        .catch((err) => {
          this.isDeleteModalVisible = false;
          this.showAlert = true;
          this.msg = err.response.data.message;
        });
    },
  },

  //check user logged in or not
  mounted() {
    if (!this.loggedIn) {
      return this.$router.push({ name: "Login" });
    }
  },
};
</script>
